
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
# rewrite *.css *.js to gzip_text.php
RewriteRule ^(.*).js$ pathtoyourwebsite/gzip_text.php?file=$1.js [L]
RewriteRule ^(.*).css$ pathtoyourwebsite/gzip_text.php?file=$1.css [L]

</IfModule>


# END WordPress
